.text-popup {
  font-size: 5px;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 9999;
}

.text-popup.showText {
  opacity: 1;
  pointer-events: auto;
}

.text-popup div {
  background: white;
  color: black;
  padding: 20px 30px;
  border-radius: 10px;
  text-align: center;
  font-family: "Roboto Slab", serif;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  animation: popupZoom 0.3s ease;
}
.text-popup h1 {
  font-weight: 350;
}

@keyframes popupZoom {
  from {
    transform: scale(0.8);
    opacity: 0.5;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
