.sidebar {
  display: none;
}

@media (max-width: 600px) {
  .sidebar {
    background-color: rgb(243, 243, 243);
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: min(11em, 100%);
    z-index: 99999;
    border-left: 0.2px solid gray;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: right 200ms ease-in-out;
  }
  .sidebar.showside {
    right: 0;
  }
  .sidebar ul {
    font-weight: 250;
    font-size: 10px;
    margin-top: 20px;
    display: flex;

    text-align: center;
    list-style: none;
    width: 100%;
    flex-direction: column;
  }
  .side-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-bottom: 0.4px solid black;
  }
  .side-link a {
    color: black;
    text-decoration: none;
  }
  .close {
    cursor: pointer;
  }
  .close-container {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 18px;
    width: 18px;
    margin-top: 13px;
    border-radius: 50%;
  }
  .close-container:hover {
    background-color: hsl(0, 1%, 84%);
    border: 0.2px solid gray;
    cursor: pointer;
  }
  .side-link:hover {
    cursor: pointer;
    background-color: rgb(175, 175, 175);
  }
}
